img{
  height: 50%;
  width: 50%;
  margin: 14px;
  float: left;
}
#dv1 {
  border: solid;
  border-width: 1px;
  padding: 15px;
}

.num3 {
  top: 115px;
  left: 115px;
  width: 420px;
  height: 420px;
  background-color: gray;
  position: fixed;
}
